.verdana12hijo {COLOR: #666699; FONT-FAMILY: Verdana; FONT-SIZE: 12pt; FONT-WEIGHT: bold}
.arial12redb {COLOR: #ff3333; FONT-FAMILY: Arial; FONT-SIZE: 12pt; FONT-WEIGHT: bold}
.arial12bluen {COLOR: #00cc66; FONT-FAMILY: Arial; FONT-SIZE: 12pt; FONT-WEIGHT: bold}
.arial12blue {COLOR: #0000ff; FONT-FAMILY: Arial; FONT-SIZE: 12pt; FONT-WEIGHT: bold}
.arial12blkb {COLOR: #000000; FONT-FAMILY: Arial; FONT-SIZE: 12pt; FONT-WEIGHT: bold}
.arial12whtb {COLOR: #ffffff; FONT-FAMILY: Arial; FONT-SIZE: 12pt; FONT-WEIGHT: bold}
.arial10blkhijo {COLOR: #000000; FONT-FAMILY: Arial; FONT-SIZE: 10pt; FONT-WEIGHT: bold; background-color: #97b3b9}
.arial10blkb {COLOR: #000000; FONT-FAMILY: Arial; FONT-SIZE: 10pt; FONT-WEIGHT: bold}
.arial10blk {COLOR: #000000; FONT-FAMILY: Arial; FONT-SIZE: 10pt;}
.arial10bold {COLOR: #000000; FONT-FAMILY: Arial; FONT-SIZE: 10pt; FONT-WEIGHT: bold}
.arial10ungub {COLOR: #336699; FONT-FAMILY: Arial; FONT-SIZE: 10pt; FONT-WEIGHT: bold}
.arial10green {COLOR: #6699ff; FONT-FAMILY: Arial; FONT-SIZE: 10pt}
.arial10ungu {COLOR: #336699; FONT-FAMILY: Arial; FONT-SIZE: 8pt}
.arial10blue {COLOR: #0000ff; FONT-FAMILY: Arial; FONT-SIZE: 10pt}
.arial10wht {COLOR: #ffffff; FONT-FAMILY: Arial; FONT-SIZE: 10pt}
.arial10yel {COLOR: #fff99d; FONT-FAMILY: Arial; FONT-SIZE: 10pt}
.arial10 {COLOR: #000000; FONT-FAMILY: Arial; FONT-SIZE: 10pt}
.arial7 {COLOR: #000000; FONT-FAMILY: Arial; FONT-SIZE: 7pt}
.arial6 {COLOR: #000000; FONT-FAMILY: Arial; FONT-SIZE: 6pt}
.arial9blk {COLOR: #000000; FONT-FAMILY: Arial; FONT-SIZE: 9pt}
.arial9blkb {COLOR: #000000; FONT-FAMILY: Arial; FONT-SIZE: 9pt; FONT-WEIGHT: bold}
.arial9wht {COLOR: #ffffff; FONT-FAMILY: Arial; FONT-SIZE: 9pt}
.arial9red {COLOR: #ff3366; FONT-WEIGHT: bold; FONT-FAMILY: Arial; FONT-SIZE: 9pt;background-color: #003399}
.arial9gadang {COLOR: #00cc66; FONT-WEIGHT: bold; FONT-FAMILY: Arial; FONT-SIZE: 9pt;background-color: #003399}
.arial9 {COLOR: #000000; FONT-FAMILY: Arial; FONT-SIZE: 9pt}
.arial8ab {COLOR: #006699 ; FONT-FAMILY: Arial; FONT-SIZE: 8pt; FONT-WEIGHT: bold}
.arial8saru {COLOR: #99ffff; FONT-FAMILY: Verdana; FONT-SIZE: 8pt}
.arial8merah {COLOR: #0000ff; FONT-FAMILY: Arial; FONT-SIZE: 8pt}
.arial8blue {COLOR: #336699; FONT-FAMILY: Arial; FONT-SIZE: 8pt}
.arial8blk {COLOR: #006699; FONT-FAMILY: Arial; FONT-SIZE: 8pt}
.arial8wht {COLOR: #ffffff; FONT-FAMILY: Arial; FONT-SIZE: 8pt}
.arial8 {COLOR: #333333; FONT-FAMILY: Arial; FONT-SIZE: 8pt}
.sans8 {COLOR: #000000; FONT-FAMILY: Courier; FONT-SIZE: 8pt}
.sans10 {COLOR: #000000; FONT-FAMILY: Courier; FONT-SIZE: 10pt}
.arial8ungu {COLOR: #336699; FONT-FAMILY: Arial; FONT-SIZE: 8pt}
.arial7wht {COLOR: #ffffff; FONT-FAMILY: Arial; FONT-SIZE: 7pt}
.verdana12blk {COLOR: #000000; FONT-FAMILY: Verdana, Helvetica, sans-serif; FONT-SIZE: 12pt}
.arial12blu {COLOR: #0083D7; FONT-FAMILY: Arial; FONT-SIZE: 12pt}
.verdana10blus {COLOR: #0083D7; FONT-FAMILY: Verdana, Helvetica, sans-serif; FONT-SIZE: 10pt}
.verdana10blu {COLOR: #003366; FONT-FAMILY: Verdana, Helvetica, sans-serif; FONT-SIZE: 10pt}
.verdana10wht {COLOR: #ffffff; FONT-FAMILY: Verdana, Helvetica, sans-serif; FONT-SIZE: 10pt}
.verdana7blu {COLOR: #003366; FONT-FAMILY: Verdana, Helvetica, sans-serif; FONT-SIZE: 7pt}
.verdana10blkb {COLOR: #000000; FONT-FAMILY: Verdana, Helvetica, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: bold}
.verdana10blk {COLOR: #000000; FONT-FAMILY: Verdana, Helvetica, sans-serif; FONT-SIZE: 10pt}
.verdana10 {COLOR: #663366; FONT-FAMILY: Verdana, Helvetica, sans-serif; FONT-SIZE: 10pt}
.verdana8bw {COLOR: #ffffff; FONT-FAMILY: Verdana, Helvetica, sans-serif; FONT-SIZE: 8pt; FONT-WEIGHT: bold}
.verdana12w {COLOR: #ffffff; FONT-FAMILY: Verdana; FONT-SIZE: 12pt;FONT-WEIGHT: bold}
.verdana8w {COLOR: #ffffff; FONT-FAMILY: Verdana; FONT-SIZE: 8pt}
.verdana8 {COLOR: #000000; FONT-FAMILY: Verdana; FONT-SIZE: 8pt}
.verdana9 {COLOR: #000000; FONT-FAMILY: Verdana; FONT-SIZE: 9pt}
.verdana10byel {COLOR: #FFFF00; FONT-FAMILY: Verdana, Helvetica, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: bold}
.verdana10redb {COLOR: #FF0000; FONT-FAMILY: Verdana, Helvetica, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: bold}
.verdana10yel {COLOR: #FFFF00; FONT-FAMILY: Verdana, Helvetica, sans-serif; FONT-SIZE: 10pt}
.verdana9blk {COLOR: #000000; FONT-FAMILY: Verdana, Helvetica, sans-serif; FONT-SIZE: 9pt}
.verdana9wht {COLOR: #ffffff; FONT-FAMILY: Verdana, Helvetica, sans-serif; FONT-SIZE: 9pt}
.verdana9barak {COLOR: #ff0000; FONT-FAMILY: Verdana, Helvetica, sans-serif; FONT-SIZE: 9pt}
.verdana9blu {COLOR: #003366; FONT-FAMILY: Verdana, Helvetica, sans-serif; FONT-SIZE: 9pt}
.verdana8byel {COLOR: #FFFF00; FONT-FAMILY: Verdana, Helvetica, sans-serif; FONT-SIZE: 8pt; FONT-WEIGHT: bold}
.verdana8yel {COLOR: #FFFF00; FONT-FAMILY: Verdana, Helvetica, sans-serif; FONT-SIZE: 8pt}
.verdana8wht {COLOR: #ffffff; FONT-FAMILY: Verdana, Helvetica, sans-serif; FONT-SIZE: 8pt}
.verdana8blk {COLOR: #000000; FONT-FAMILY: Verdana, Helvetica, sans-serif; FONT-SIZE: 8pt}
.verdana8blu {COLOR: #FFFFFF; FONT-FAMILY: Verdana, Helvetica, sans-serif; FONT-SIZE: 8pt}
.verdana8bol {COLOR: #000000; FONT-FAMILY: Verdana, Helvetica, sans-serif; FONT-SIZE: 8pt; FONT-WEIGHT: bold}
.verdana8red {COLOR: #ff0000; FONT-FAMILY: Verdana, Helvetica, sans-serif; FONT-SIZE: 8pt}
.verdana8saru {COLOR: #666666; FONT-FAMILY: Verdana, Helvetica, sans-serif; FONT-SIZE: 8pt}
.verdana7wht {COLOR: #ffffff; FONT-FAMILY: Verdana, Helvetica, sans-serif; FONT-SIZE: 7pt}
.verdana7blk {COLOR: #000000; FONT-FAMILY: Verdana, Helvetica, sans-serif; FONT-SIZE: 7pt}
.verdana6blk {COLOR: #000000; FONT-FAMILY: Verdana, Helvetica, sans-serif; FONT-SIZE: 6pt}
.verdana5blk {COLOR: #000000; FONT-FAMILY: Verdana, Helvetica, sans-serif; FONT-SIZE: 5pt}
.ver8ungu {COLOR: #330099; FONT-FAMILY: Verdana; FONT-SIZE: 8pt}
.verdana10kam {COLOR: #000000; FONT-FAMILY: Verdana, Helvetica, sans-serif; FONT-SIZE: 0.9em}
.akun1 {COLOR: #666666; FONT-FAMILY: Arial; FONT-SIZE: 10pt}
.akunc {COLOR: #000080; FONT-FAMILY: Arial; FONT-SIZE: 9pt; FONT-WEIGHT: bold; background-color: #e1f1ff; text-align: right}
.akund {COLOR: #000080; FONT-FAMILY: Arial; FONT-SIZE: 9pt; FONT-WEIGHT: bold; background-color: #99ccff; text-align: right}
.akunc1 {COLOR: #000080; FONT-FAMILY: Arial; FONT-SIZE: 9pt; FONT-WEIGHT: bold; background-color: #99ccff; text-align: right}
.akun {COLOR: #336699; FONT-FAMILY: Verdana; FONT-SIZE: 8pt; background-color: #e0e0e4; text-align: center}
.hijo {COLOR: #003333; FONT-FAMILY: Arial; FONT-SIZE: 10pt; FONT-WEIGHT: Bold; background-color: #6699ff}
.a {COLOR: #000080; FONT-FAMILY: Arial; FONT-SIZE: 9pt; FONT-WEIGHT: bold; background-color: #99ccff}
.b {COLOR: #000080; FONT-FAMILY: Arial; FONT-SIZE: 9pt; background-color: #99ccff} 
.c {COLOR: #004080; FONT-FAMILY: Arial; FONT-SIZE: 9pt; FONT-WEIGHT: bold; background-color: #e1f1ff}
.d {COLOR: #000080; FONT-FAMILY: Arial; FONT-SIZE: 9pt; FONT-WEIGHT: bold; background-color: #e1f1ff; text-align: right}
.ade {COLOR: #000000; FONT-FAMILY: Verdana; FONT-SIZE: 8pt; margin-top: 0; margin-bottom: 0}
.ade1 {COLOR: #000000; FONT-FAMILY: Arial; FONT-SIZE: 8pt; FONT-WEIGHT: Bold; margin-top: 0; margin-bottom: 0}
.ade2 {COLOR: #000000; FONT-FAMILY: Arial; FONT-SIZE: 8pt; FONT-WEIGHT: bold; margin-top: 0; margin-bottom: 0}
.ade3 {COLOR: #000000; FONT-FAMILY: Arial; FONT-SIZE: 8pt; margin-top: 0; margin-bottom: 0}
.hijao {COLOR: #6060ee; FONT-FAMILY: Verdana; FONT-SIZE: 8pt; FONT-WEIGHT: Bold; background-color: #b9e1f7}
.vercyan {COLOR: #808080; FONT-FAMILY: Verdana; FONT-SIZE: 8pt; FONT-WEIGHT: Bold; background-color: #D7EBFF}
.buton {FONT-FAMILY: Arial; FONT-SIZE: 8pt}

.tblborder {background-color: #003399}
.tblhead1 {COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 8pt; background-color: #6060ee}
.tblhead {COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; background-color: #003399}
.tblisi {background-color: #99ccff}
.tblisi1 {background-color: #6699ff; FONT-FAMILY: Verdana; FONT-SIZE: 9pt; color:white}
.sudah {background-color: #ccffcc;FONT-FAMILY: Verdana; FONT-SIZE: 9pt;}
.belum {background-color: #ffccff;FONT-FAMILY: Verdana; FONT-SIZE: 9pt;}
A:hover {	COLOR: #0000ff; background-color: #ffff99;}
A:link {COLOR: #2D2552; TEXT-DECORATION: none }
A:visited {COLOR: #2D2552; TEXT-DECORATION: none}
input, textarea, select {
border-top-width : 1px; 
border-right-width : 1px; 
border-bottom-width : 1px; 
border-left-width : 1px;  
}
/*
body {
	background-color: #FFFFFF;
	font-family: Verdana, Arial, Serif;
	font-size: 10px;
	color: #666666;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

td {
	background-color: #FFFFFF;
	font-family: Verdana, Arial, Serif;
	font-size: 11px;
	color: #666666;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
*/.verdana8blu {
COLOR: #000066; FONT-FAMILY: Verdana, Helvetica, sans-serif; FONT-SIZE: 10pt
}
.verdana82blu {
COLOR: #000000; FONT-FAMILY: Verdana, Helvetica, sans-serif; FONT-SIZE: 7pt
}
.e {
	COLOR: #000080;
	FONT-FAMILY: Arial;
	FONT-SIZE: 9pt;
	FONT-WEIGHT: bold;
	background-color: #CCFFFF
}
